body{
    width: 9999px;
    margin: 0;

}

.scrollhor{
    overflow-x:scroll;
}

#div{
    height:700px;
    width:1900px;
    margin:0;
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
}


.div2{
    background-color: rgb(0, 102, 255);
}


.div4{
    background-color: rgb(0, 102, 255);
}