body{
    padding: 0px;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

p{
    font-size: 2.5vh;
}


navbar{
    height: 50px;
    width: 100%;
    top: 0px;
    display: inline-block;
    background-color: rgba(0, 131, 163, 0.5);
    text-align: right;

}

.nav-down{
    position: fixed;
    width: 100%;
    top: 0px;
    display: block;
    text-align: right;
    z-index: 9999;
}
a{
    color:inherit;
}

navbar ul li {
    outline: none;
    margin-right: 40px;
    text-transform: uppercase;
    color: #24B4CE;
    font-size: 2vh;
	text-decoration: none;
	position: relative;
	font-size: 2vh;
	line-height: 1;
	color: #ffffff;
	display: inline-block;
}

navbar ul li {
	text-transform: uppercase;
	font-weight: 900;
	overflow: hidden;
	line-height: 0.75;
    color: #ffffff;
    border: 1px;
    border-color:rgba(0, 131, 163);
}

navbar ul li a:hover {
    color: #3D3D3C;
    cursor: pointer;
}

navbar ul li a::after {
	content: '';
	position: absolute;
	height: 5px;
	width: 100%;
	top: 50%;
	margin-top: -2px;
	right: 0;
	background: rgb(0, 195, 255);
	transform: translate3d(-100%,0,0);
	transition: transform 0.4s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

navbar ul li a:hover::after {
	transform: translate3d(100%,0,0);
}

navbar ul li a::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: #ffffff;
	white-space: nowrap;
	width: 0%;
	transition: width 0.4s 0.3s;
}

navbar ul li a:hover::before {
	width: 100%;
}

.logo{
    height: 10em;
    width: auto;
    margin-top: 90px;
    margin-bottom: 10px;
}
#content{
    width: 80%;
    margin-top: -0.3em;
    padding-bottom:20px;
    color: white;
    background-color: #24B4CE;
    display: inline-block;
}
.chapeau{
    height:10vh;
}
.threebasics{
    width: 50%;
    height: auto;
}
.colonne{
    display: inline-block;
    width:40%;
    position: relative;
    text-align: left;
    text-indent: 100px;
}
.colonne .imghtml{
    max-width: 400px;
    display:block;
    width: auto;
    border-radius: 50px;
}
#content ul li{
    display:inline-block;
}
#contentBtn{
    width:100px;
    height:100px;
    border-radius:100%;
    background-color:rgb(26, 127, 145);
    position: relative;
    display:inline-block;
    margin: 5px;
}

.firstHole{
    overflow: hidden;
    height: 100%;
    width:100%;
    border-bottom-right-radius: 150%;
    border-bottom-left-radius: 150%;
    background-color: rgb(255, 255, 255);
}
.hole{
    overflow: hidden;
    height: 70vh;
    width:auto;
    border-top-left-radius: 90%;
    border-bottom-right-radius: 90%;
    background-color: rgb(255, 255, 255);
}
.secondHole{
    overflow: hidden;
    height: 70vh;
    width:100%;
    border-top-left-radius: 90%;
    border-bottom-right-radius: 90%;
    background-image: url("img/photo4.jpg");
    background-position: 15% 45%;
    background-size: cover;
}
.div0{
    display: inline-block;
}
.div1{
    display: inline-block;
}

h1{
    text-transform: uppercase;
    margin-bottom: 1px;
    font-size:  7vh;
    max-width: 100%;
}
h2{
    font-size: 5vh;
}


.holetest{
    width: 80%;
    padding:0;
    background-image: url("http://ww1.hdnux.com/photos/07/30/21/1934440/11/1024x1024.jpg");
    background-size: cover;
    display: inline-block;
}
.transpa{
    width:80%;
}

#basdepage{
    width: 80%;
    height:400px;
    margin-top: -0.3em;
    padding:0px;
    color: white;
    background-color: rgb(18, 101, 116);
    display: inline-block;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.5), 0px -10px 5px rgba(0, 0, 0, 0.5);
}

#form{
    display: inline-block;
    width: 200px;
}
label
{
	display: block;
}
button{
    background-color: #24B4CE;
    border: 1px solid rgb(20, 109, 124);
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    width: 90px;
    height: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.ulcss{
    text-align: left;
    font-size: 16px;

}

.ImageCSS3{
    width: 100%;
    border-radius: 50px;
    height: 350px;
}

.textcolonne{
    float: top;
}