body{
    
    margin: 0;
    position: absolute;
    width: 9999px;
}

#div{
    height:700px;
    width:1900px;
    margin:0;
    display: inline-block;
    top: 0;
    left: 0;
    position: fixed;
    
}


.div2{
    background-color: rgb(0, 102, 255);
}


.div4{
    background-color: rgb(0, 102, 255);
}